*, body, html {
    font-size: 16px;
    font-family: jaf-domus,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,
html {
    margin: 0;
}

body {
    height: 100vh;
}

iframe.luminanceToAlpha {
    filter: url("#luminanceToAlpha");
}

iframe.saturate {
    filter: url("#saturate");
}

iframe.blue {
    filter: url("#blue");
}

iframe,
object,
video {
    max-width: 100%;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    font-family: 'Helvetica Neue', arial, sans-serif;
}

iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: url(../img/logo-lace.svg);
    background-position: center;
    background-repeat: no-repeat;
}

svg {
    display: none;
    height: 0;
}
